/* Cascading stylesheet for the web page "Treasure Trove"
Layout*/

a {
  color: #066FFE;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:disabled {
  color: grey
}

body {
  background-color: #cddffa;
  overflow-x: hidden;
}

h1 {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 1rem auto;
  text-align: center;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.advertisement-big-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.advertisement-header-row {
  height: 4rem;
  text-align: center;
  margin-top: 0.7rem;
  vertical-align: top;
}

.advertisement-item {
  padding-top: 1rem;
  vertical-align: top;
}

table#advertisement-items-table {
  width: 100%;
}

.advertisement-side {
  border-left: gray 1px solid;
  padding-left: 2rem;
  vertical-align: top;
}

.advertisement-table {
  width: 100%;
}

.floating-button {
  height: 2.5rem;
  margin-left: 1rem;
  width: 2.5rem;
}

.login-info {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.merchandise-description {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.merchandise-hr {
  margin-bottom: 0.3rem;
  margin-top: 0;
}

.merchandise-image {
  height: 8rem;
  width: 8rem;
  vertical-align: top;
}

.merchandise-last-bid {
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.merchandise-name {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 90%;
  margin-bottom: 0.3rem;
  margin-top: 0.1rem;
}

.merchandise-side {
  padding-right: 2rem;
  vertical-align: top;
}

.merchandise-table {
  margin-bottom: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.merchandise-table, .merchandise-table td {
  border-collapse: collapse;
}

.merchandise-table th, .merchandise-table td {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-top: 0;
}

.outer-div {
  margin: auto;
  max-width: 95%;
  text-align: left;
}

.page-frame {
  margin-top: 2rem;
}

/* RESPONSIVE ADJUSTMENTS
-------------------------------- */

@media only screen and (max-width: 900px) {

  .merchandise-description {
    font-size: 0.7rem;
  }

  .merchandise-image {
    height: 7.5rem;
    width: 7.5rem;
  }

  .merchandise-name {
    font-size: 1.7rem;
  }

  .merchandise-unit-price {
    font-size: 1.2rem;
  }
}
